<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <!-- <style>
        h1 {
            color : #32b48d;
        }
    </style> -->
</head>

<body>
    <header class="main-header">
        
        <div class="encabezado">
            <div class="logo-search">
                <img class= "logo" src="/images/logo-mercado-liebre.svg" alt="Logo de mercado liebre">        
                <input  class="search-bar"type="text" placeholder="Buscar productos, marcas y más "><button class="lupa"><i class="fas fa-search"></i></button> 
            </div>
    
            <div class="compra-en-cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>
        <nav class="listas">
            <ul class="left-navbar" type = "none">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>

            <ul class="right-navbar" type = "none">
                <li> <a href="/register"> Creá tu cuenta <i class="far fa-id-card"></i></a> </li>
                <li> <a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
                <li> <a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a> </li>                
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <section>
        <img width="100%" src="/images/img-home-banner.jpg" alt="banner">
    </section>

    <main>

        <section>
            <h1 class="titular">Basado en tu última visita</h1>
            <div class="ultima-visita">
                <article class="productos">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h2 class="titular">Ofertas</h2>
            <div class="ofertas">
                <article class="productos">
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-macbook-pro-2019.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-tv-samsung-smart.jpg">
                    <div class="contenedor">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

    </main>

    <footer>
        <section class="pie-de-pagina">
            <div class="iconos">
                <div>
                    <i class="fas fa-credit-card"></i>
                    <p>Pagá con tarjeta o en efectivo</p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <i class="fas fa-gift"></i>
                    <p>Envío gratis desde $ 2.500</p>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fas fa-user-shield"></i>
                    <p>Seguridad, de principio a fin</p>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>